# Node modules
node_modules
client/node_modules
server/node_modules

# Logs
*.log

# dotenv environment files
.env
.env.local
client/.env
server/.env

# Vite build output
client/dist

# Misc
.DS_Store
Thumbs.db
